<h1>Here is a sample product</h1>
<hr />
<div class="row">
    <div class="col-5">
        <img alt="" id="picture" class="img-thumbnail" />
    </div>
    <div class="col-7">
        <h3 id="description"></h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><span id="name"></span></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><span id="price"></span></td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td><span id="discount"></span></td>
                </tr>
                <tr>
                    <td>Quantity per unit</td>
                    <td><span id="qpu"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="./src/js/sample-product.js"></script>
<style>
    #picture {
        height: 250px;
        width: 250px;
    }
</style>
